<!doctype html>
<html class='no-js' lang='{{ request.locale.iso_code }}'>
  <head>
    {% comment %} {{ content_for_header }} {% endcomment %}
  </head>

  <body class='gradient'>
    {% comment %} {{ content_for_layout }} {% endcomment %}
  </body>
</html>
