<div style="display: flex;justify-content: space-between;">
  <div style="padding:10px;background-color: #F7D633;width:25%">aa</div>
  <div style="padding:10px;background-color: #E12843;width:25%">aa</div>
  <div style="padding:10px;background-color: #72CEE8;width:25%">aa</div>
  <div style="padding:10px;background-color: #F47D34;width:25%">aa</div>
</div>