<div style="padding:10px;background-color: #F7D633;">aa</div>
<div style="padding:10px;background-color: #E12843;">aa</div>
<div style="padding:10px;background-color: #72CEE8;">aa</div>
<div style="padding:10px;background-color: #F47D34;">aa</div>