<div style="display: flex;justify-content: space-between;heigth:10px;max-height: 10px;">
  <div style="background-color: #F7D633;width:25%;">
    <span style="visibility: hidden;">a</span>
  </div>
  <div style="background-color: #E12843;width:25%;">
    <span style="visibility: hidden;">a</span>
  </div>
  <div style="background-color: #72CEE8;width:25%;">
    <span style="visibility: hidden;">a</span>
  </div>
  <div style="background-color: #F47D34;width:25%;">
    <span style="visibility: hidden;">a</span>
  </div>
</div>