<div style="display: flex;justify-content: space-between;">
  <div style="background-color: #F7D633;width:25%;min-height: 10px;">aaa</div>
  <div style="background-color: #E12843;width:25%;min-height: 10px;">aaa</div>
  <div style="background-color: #72CEE8;width:25%;min-height: 10px;">aaa</div>
  <div style="background-color: #F47D34;width:25%;min-height: 10px;">aaa</div>
</div>