<div style="display: flex;justify-content: space-between;">
  <h2>TaDah!</h2>

  <ul class="menu-header">
    <li>HOME</li>
    <li>OUR STORY</li>
    <li>SHOP</li>
    <li>CONTACT</li>
    {% comment %} <li>Icono</li> {% endcomment %}
  </ul>
</div>