<style>
  .footer-titulo {
    color: white;
    font-weight: bold;
  }
  .footer-button {
    background-color: #F7D633;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 25px;
  }
</style>

<div style="background-color: #F47D34;">
  <div style="text-align: center;">
    <br>
    <h1 class="footer-titulo">FalaFULL of flavor</h1>
    <button class="footer-button">TRY THE VARIETY PACK</button>
    <br>
    <ul>
      <li>facebook</li>
      <li>instagram</li>
    </ul>
    <br><br>
    <ul>
      <li>HOME</li>
      <li>OUR STORY</li>
      <li>SHOP</li>
      <li>CONTACT</li>
    </ul>
    <br>
    <p>@2022 TaDah Foods All rigths reserved.</p>
  </div>
</div>