{{'tadah-one-text-img.css' | asset_url | stylesheet_tag}}

<div class="father-all">
    <div class="container-all">
        <div class="section-text-img-colors color-blue">
            <div class="container-img-same">
                <img src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/veggies_img_1_1.png?v=1680999729" alt="" class="img-same">
            </div>
            <div class="container-text-same text-rosa">
                <div class="title-same">High quality ingredient</div>
                <div class="info-same">Not to brag, but we don’t take shortcuts. We bring dried chickpeas in-house and soak them ourselves so that we can produce our homemade falafels and hummus using the most natural ingredients. Combine that with our fresh selection of bell peppers, lemons, red onions, and garlic cloves -- and you can taste the difference. We don’t cut corners, we cut fresh ingredients.</div>
            </div>
        </div>
    </div>
</div>