{{'tadah-tasty.css' | asset_url | stylesheet_tag}}


<div class="father-all">
    <div class="container-all">

        <div class="section-testimonials">

        

            <div class="container-testimonials">

                <div class="container-title-star">
                    <div class="title-tasty">Tasty-monials</div>
                    <div class="container-star">
                        <svg width="167" height="30" viewBox="0 0 167 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.2736 2.92693C14.5729 2.00562 15.8763 2.00562 16.1757 2.92693L18.3678 9.67364C18.5017 10.0857 18.8856 10.3646 19.3189 10.3646H26.4128C27.3815 10.3646 27.7843 11.6042 27.0006 12.1736L21.2615 16.3433C20.911 16.598 20.7643 17.0493 20.8982 17.4614L23.0903 24.2081C23.3897 25.1294 22.3352 25.8955 21.5515 25.3261L15.8124 21.1564C15.4619 20.9018 14.9873 20.9018 14.6368 21.1564L8.89773 25.3261C8.11402 25.8955 7.05953 25.1294 7.35889 24.2081L9.55103 17.4614C9.6849 17.0493 9.53824 16.598 9.18775 16.3433L3.44866 12.1736C2.66495 11.6042 3.06772 10.3646 4.03644 10.3646H11.1304C11.5636 10.3646 11.9475 10.0857 12.0814 9.67364L14.2736 2.92693Z" fill="#F7D633"/>
                            <path d="M48.4112 2.92693C48.7106 2.00562 50.014 2.00562 50.3134 2.92693L52.5055 9.67364C52.6394 10.0857 53.0233 10.3646 53.4566 10.3646H60.5505C61.5192 10.3646 61.922 11.6042 61.1383 12.1736L55.3992 16.3433C55.0487 16.598 54.902 17.0493 55.0359 17.4614L57.228 24.2081C57.5274 25.1294 56.4729 25.8955 55.6892 25.3261L49.9501 21.1564C49.5996 20.9018 49.125 20.9018 48.7745 21.1564L43.0354 25.3261C42.2517 25.8955 41.1972 25.1294 41.4966 24.2081L43.6887 17.4614C43.8226 17.0493 43.6759 16.598 43.3254 16.3433L37.5864 12.1736C36.8026 11.6042 37.2054 10.3646 38.1741 10.3646H45.2681C45.7013 10.3646 46.0852 10.0857 46.2191 9.67364L48.4112 2.92693Z" fill="#F7D633"/>
                            <path d="M82.5489 2.92693C82.8483 2.00562 84.1517 2.00562 84.4511 2.92693L86.6432 9.67364C86.7771 10.0857 87.161 10.3646 87.5943 10.3646H94.6882C95.6569 10.3646 96.0597 11.6042 95.2759 12.1736L89.5369 16.3433C89.1864 16.598 89.0397 17.0493 89.1736 17.4614L91.3657 24.2081C91.6651 25.1294 90.6106 25.8955 89.8269 25.3261L84.0878 21.1564C83.7373 20.9018 83.2627 20.9018 82.9122 21.1564L77.1731 25.3261C76.3894 25.8955 75.3349 25.1294 75.6343 24.2081L77.8264 17.4614C77.9603 17.0493 77.8136 16.598 77.4631 16.3433L71.7241 12.1736C70.9403 11.6042 71.3431 10.3646 72.3118 10.3646H79.4057C79.839 10.3646 80.2229 10.0857 80.3568 9.67364L82.5489 2.92693Z" fill="#F7D633"/>
                            <path d="M116.687 2.92693C116.986 2.00562 118.289 2.00562 118.589 2.92693L120.781 9.67364C120.915 10.0857 121.299 10.3646 121.732 10.3646H128.826C129.795 10.3646 130.197 11.6042 129.414 12.1736L123.675 16.3433C123.324 16.598 123.177 17.0493 123.311 17.4614L125.503 24.2081C125.803 25.1294 124.748 25.8955 123.965 25.3261L118.225 21.1564C117.875 20.9018 117.4 20.9018 117.05 21.1564L111.311 25.3261C110.527 25.8955 109.473 25.1294 109.772 24.2081L111.964 17.4614C112.098 17.0493 111.951 16.598 111.601 16.3433L105.862 12.1736C105.078 11.6042 105.481 10.3646 106.45 10.3646H113.543C113.977 10.3646 114.361 10.0857 114.494 9.67364L116.687 2.92693Z" fill="#F7D633"/>
                            <path d="M150.824 2.92693C151.124 2.00562 152.427 2.00562 152.726 2.92693L154.919 9.67364C155.052 10.0857 155.436 10.3646 155.87 10.3646H162.964C163.932 10.3646 164.335 11.6042 163.551 12.1736L157.812 16.3433C157.462 16.598 157.315 17.0493 157.449 17.4614L159.641 24.2081C159.94 25.1294 158.886 25.8955 158.102 25.3261L152.363 21.1564C152.013 20.9018 151.538 20.9018 151.188 21.1564L145.449 25.3261C144.665 25.8955 143.61 25.1294 143.91 24.2081L146.102 17.4614C146.236 17.0493 146.089 16.598 145.739 16.3433L139.999 12.1736C139.216 11.6042 139.619 10.3646 140.587 10.3646H147.681C148.114 10.3646 148.498 10.0857 148.632 9.67364L150.824 2.92693Z" fill="#F7D633"/>
                        </svg> 
                    </div>
                </div>

            
                    <div class="swiper mySwiper">

                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="container-img-frame">
                                    <img src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/red_halo_1_2.png?v=1680975287">
                                </div>
                                <div class="info-frame">
                                    I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious and healthy wraps!
                                </div>
                                <div class="name">Uriel Felipe Munar - Miami, FL</div>
                            </div>

                            <div class="swiper-slide">
                                <div class="container-img-frame">
                                    <img src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/red_halo_1_3.png?v=1680975287" alt="" class="img-frame">
                                </div>
                                <div class="info-frame">
                                    I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So delicious!
                                </div>
                                <div class="name">Joanne Yildirim – Los Angeles, CA</div>
                            </div>

                            <div class="swiper-slide">
                                <div class="container-img-frame">
                                    <img src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/Group.png?v=1680975287" alt="" class="img-frame">
                                </div>
                                <div class="info-frame">
                                    I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So delicious!
                                </div>
                                <div class="name">Joanne Yildirim – Los Angeles, CA</div>
                            </div>

                            <div class="swiper-slide">
                                <div class="container-img-frame">
                                    <img src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/red_halo_1_2.png?v=1680975287">
                                </div>
                                <div class="info-frame">
                                    I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious and healthy wraps!
                                </div>
                                <div class="name">Uriel Felipe Munar - Miami, FL</div>
                            </div>

                            <div class="swiper-slide">
                                <div class="container-img-frame">
                                    <img src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/red_halo_1_3.png?v=1680975287" alt="" class="img-frame">
                                </div>
                                <div class="info-frame">
                                    I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So delicious!
                                </div>
                                <div class="name">Joanne Yildirim – Los Angeles, CA</div>
                            </div>

                            <div class="swiper-slide">
                                <div class="container-img-frame">
                                    <img src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/Group.png?v=1680975287" alt="" class="img-frame">
                                </div>
                                <div class="info-frame">
                                    I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So delicious!
                                </div>
                                <div class="name">Joanne Yildirim – Los Angeles, CA</div>
                            </div>

                            <div class="swiper-slide">
                                <div class="container-img-frame">
                                    <img src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/red_halo_1_2.png?v=1680975287">
                                </div>
                                <div class="info-frame">
                                    I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious and healthy wraps!
                                </div>
                                <div class="name">Uriel Felipe Munar - Miami, FL</div>
                            </div>
                            
                        
                        </div>

                        <div class="swiper-pagination"></div>


                    </div>


            </div>
        </div>
    </div>
</div>

  <script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    },
    breakpoints: { // when window width is >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 10
      },

// when window width is >= 480px
      480: {
        slidesPerView: 2,
        spaceBetween: 20
      },

// when window width is >= 640px
      640: {
        slidesPerView: 3,
        spaceBetween: 30
      }
    }
  });
</script>