
{{'tadah-ingredients.css' | asset_url | stylesheet_tag}}

<div class="father-all">
    <div class="container-all">
        <div class="container-section-ingredients">

                <div class="ingredients-colors f-yellow">
                    <div class="container-img-ingredients">
                        <img class="img-ingredients" src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/lemon_garlic_hummus_img_1.png?v=1680975287" alt="" srcset="">
                    </div>
                    <div class="title-flavor">
                        Lemon Garlic Hummus
                    </div>
                    <div class="button-flavor">
                        <a href="" class="title-button-flavor">EXPERIENCE THE FLAVOR</a>
                    </div>
                </div>

                <div class="ingredients-colors f-red">
                    <div class="container-img-ingredients">
                        <img class="img-ingredients" src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/caramelized_harissa_img_1.png?v=1680975287" alt="" srcset="">
                    </div>
                    <div class="title-flavor">
                        Caramelized Harissa
                    </div>
                    <div class="button-flavor">
                        <a href="" class="title-button-flavor">EXPERIENCE THE FLAVOR</a>
                    </div>
                </div>

                <div class="ingredients-colors f-blue">
                    <div class="container-img-ingredients">
                        <img class="img-ingredients" src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/garden_veggie_feta_img_1.png?v=1680975287" alt="" srcset="">
                    </div>
                    <div class="title-flavor">
                        Garden Veggie Feta
                    </div>
                    <div class="button-flavor">
                        <a href="" class="title-button-flavor">EXPERIENCE THE FLAVOR</a>
                    </div>
                </div>

                <div class="ingredients-colors f-orange">
                    <div class="container-img-ingredients">
                        <img class="img-ingredients" src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/spicedsweet_harissa_img_1.png?v=1680975287" alt="" srcset="">
                    </div>
                    <div class="title-flavor">
                        Spiced-Sweet Harissa
                    </div>
                    <div class="button-flavor">
                        <a href="" class="title-button-flavor">EXPERIENCE THE FLAVOR</a>
                    </div>
                </div>

            </div>
    </div>
</div>