


.father-all .section-text-img-colors {
    display: flex;
    width: 100%;
}

.father-all .container-img-same, .container-text-same {
    width: 50%;
}

.father-all .img-same{
    width: 100%;
}

.father-all  .container-img-same .color-blue {
    background-color: #72CEE8;
}

.father-all  .container-text-same .text-rosa {
    background-color: #E12843;
}

.father-all  .section-text-img-colors {
    width: 100%;
}